@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html {
  font-family: "Press Start 2P", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #15202c 0%, #090a0f 100%);
  overflow: hidden;
}

#sun {
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 5%;
  right: 3%;
  overflow: hidden;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 251, 0, 0.897);
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px rgba(240, 224, 6, 0.404);
}

// n is number of stars required
@function multiple-box-shadow($starCount) {
  $value: "#{random(2560)}px #{random(2560)}px #FFF";
  @for $i from 2 through $starCount {
    $value: "#{$value} , #{random(2560)}px #{random(2560)}px #FFF";
  }

  @return unquote($value);
}

$generate-stars-small: multiple-box-shadow(600);
$generate-stars-medium: multiple-box-shadow(400);
$generate-stars-large: multiple-box-shadow(200);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $generate-stars-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $generate-stars-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $generate-stars-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $generate-stars-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $generate-stars-large;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $generate-stars-large;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-weight: 300;

  margin-top: -60px;
}

span {
  background: -webkit-linear-gradient(white, #a0bfdf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

//------------ Font stuff ------------//

h1 {
  font-size: 2.5em;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 125%;
  }
}

@media screen and (min-width: 640px) {
  body {
    font-size: 150%;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 200%;
  }
}

//----------- Style Overrides -----------//

body {
  background-color: transparent !important;
}

.nes-container {
  position: inherit !important;
  border: none !important;
  background: none !important;

  &::after {
    border: none !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
  }
}
